@page "/"


<PageTitle> short introduction about myself  </PageTitle>

<h1>welcome and thank you for lisenting to me !</h1>

 <h6>  first of all i would like to thanks camas IT for this oppuretunity that provide for everyone to
	learn and grow  </h6>


	<p style="color: red;">ok here iam gonna say somthing nice</p>
 