
@page "/new page in class"



<h1>hello this new page in the class </h1>
<h3>new_page_in_class</h3>
<p> save and then you can goto view from there you can select <br /> <i>get changes</i> </p>

<p style="color:red;">wanna make this in color using htmk you can type. ukjkkhkjhkjhkjhkjhhj</p>

<p style ="color: blue;" >ok here iam gonna say somthing nice</p>

<p> 
	for adding your info click below 
	<button>
		<b>click</b>
	</button>

	<address>
		Written by . <br>
		Visit us at :<br>
		for more <br>
	
	</address>

	 <button>submit </button>
</p>